@use 'foundation'as *;

.button {
  display: inline-block;
  min-width: prem(275);
  padding: prem(20) prem(40);
  font-size: prem(15);
  font-weight: 500;
  border: 1px solid $color-theme;
  transition: 0.3s;
  position: relative;
  border-radius: 0 5px 0 5px;
  line-height: 1;
  text-align: center;

  @include mq("md") {
    padding: prem(29) prem(40);
    min-width: prem(336);
    font-size: prem(19);

  }
}

.button::after {
  content: '';
  position: absolute;
  background-size: contain;
  background-image: url(../images/common/arrow-circle.png);
  background-repeat: no-repeat;
  width: prem(23);
  height: prem(15);
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
}
.button-solid::after{
  background-image: url(../images/common/arrow-solid.png);
}
.button:hover::after {
  transform: translate(prem(5), -50%);
}

// 左上の丸
.button span:first-child {
  display: inline-block;
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  width: prem(16);
  height: prem(10);
  padding-right: prem(16);
  background-color: $color-white;
  z-index: 1;
  transition: transform 0.3s;
}

.button span:first-child::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 8px;
  height: 8px;
  border: 1px solid $color-theme;
  border-radius: 100%;

}

.button span:last-child {
  display: inline-block;
  content: '';
  position: absolute;
  bottom: -4px;
  right: -4px;
  width: prem(16);
  height: prem(10);
  padding-left: prem(16);
  background-color: $color-white;
  z-index: 1;
}

.button span:last-child::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 8px;
  border: 1px solid $color-theme;
  border-radius: 100%;
}

.button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.button--wide{
  padding-block: prem(22);
  @include mq("md"){
      width: prem(739);
      padding-block: prem(62);
  }
}
