@use 'foundation'as *;

.footer {
    padding: prem(45) 0;
    background-color: #000;
    @include mq(md){
        padding: prem(60) 0 prem(40);
    }
}

.footer__inner {
    margin: auto;
    padding: 0 prem(15);
    max-width: prem(630);
    width: 100%;
    @include mq(md){
        padding: 0 prem(25);
        max-width: prem(1732);
    }
}

.footer__wrap {
    display: flex;
    flex-direction: column-reverse;
    @include mq(md){
        flex-direction: row;
        justify-content: space-between;
    }
}

.footer__right {
    @include mq(md){
        max-width: prem(550);
        width: 100%;
    }
}

.footer__nav-items {
    display: grid;
    column-gap: prem(40);
    grid-template-columns: repeat(2, 1fr);
    @include mq(md){
        grid-template-columns: repeat(3, 1fr);
    }
}

.footer__nav-item a {
    padding: prem(15) prem(10);
    position: relative;
    display: block;
    font-size: prem(12);
    line-height: 1;
    @include mq(md){
        font-size: prem(14);
    }
}

.footer__nav-item a::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: prem(25);
    height: 1px;
    background: #333;
    @include mq(md){
        width: prem(35);
    }
}

.footer__sns {
    margin-top: prem(25);
    display: flex;
    justify-content: left;
    align-items: center;
    @include mq(md){
        margin-top: prem(40);
    }
}

.footer__sns-icon {
    display: block;
    max-width: prem(30);
    width: 100%;
}

.footer__sns-icon + .footer__sns-icon {
    margin-left: prem(15);
    @include mq(md){
        margin-left: prem(30);
    }
}

.footer__sns-icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.footer__left {
    margin-top: prem(30);
    @include mq(md){
        margin-top: 0;
    }
}

.footer__logo {
    max-width: prem(200);
    width: 100%;
    @include mq(md){
        max-width: prem(220);
    }
}

.footer__logo a {
    padding: prem(10) 0;
    display: block;
    @include mq(md){
        padding: prem(15) 0;
    }
}

.footer__logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.footer__address {
    margin-top: prem(10);
    font-size: prem(12);
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.08em;
    @include mq(md){
        margin-top: prem(15);
        font-size: prem(14);
    }
}

.footer__policy {
    margin-top: prem(20);
    padding: prem(10) 0;
    display: inline-block;
    font-size: prem(12);
    line-height: 1;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    @include mq(md){
        margin-top: prem(25);
        font-size: prem(14);
    }
}

.footer__copyright {
    margin-top: prem(10);
    display: block;
    font-size: prem(12);
    line-height: 1;
    letter-spacing: 0.04em;
    @include mq(md){
        margin-top: prem(25);
        text-align: right;
    }
}

.footer__copyright span {
    text-transform: uppercase;
}
