@use 'foundation' as *;

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background: transparent;
  @include mq(md) {
    padding-left: $fv-nav-width;
  }
}

.header__inner {
  display: flex;
  align-items: flex-start;
  justify-content: end;
  padding-top: prem(12);
  padding-bottom: prem(12);
}

.header__nav {
  display: flex;
  align-items: center;
  gap: prem(12);
}

.header__nav-list {
  display: flex;
flex-direction: column;
gap: prem(5);
justify-content: flex-end;
text-align: right;
  @include mq("md") {
    text-align: left;
    flex-direction: row;
    align-items: center;
    gap: prem(50);
  }
}

.header__nav-item {
  color: $color-white;
  font-size: prem(10);
  line-height: 1.2;
  @include mq("md"){
    line-height: 1;
    font-size: prem(20);
  }
}
.header__nav-item span{
  display: inline-block;
}
.header__nav-item span.pc-only{
  display: none;
  @include mq("md"){
    display: inline-block;
  }
}
.header__nav-item:first-child {
  @include mq("md"){
    border-right: 1px solid $color-white;
    padding-right: prem(50);
  }
}
.header__nav-btn {
  display: none;
  @include mq("md") {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: prem(8) prem(12);
    border: 1px solid rgba($color-white, 0.8);
    color: $color-white;
    border-radius: prem(4);
  }
}

.header__nav-btn a {
  color: inherit;
  text-decoration: none;
  letter-spacing: 0.06em;
}

.header__hamburger {
  margin: 0;
  border-radius: prem(4);
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  position: relative;
  z-index: 1100;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $color-white;
}

.header__hamburger-text {
  font-size: prem(12);
  letter-spacing: 0.18em;
  line-height: 1;
  @include mq("md"){
    font-size: prem(18);
  }
}

.header__hamburger-bar {
  position: relative;
  display: block;
  width: prem(46);
  height: 3px;
  background: $color-white;
  transition: transform 0.25s ease, opacity 0.25s ease;

}
.header__hamburger-bar:nth-of-type(2){
  margin-top: prem(10);
}
.header__hamburger-bar:nth-of-type(3){
  margin-top: prem(16);
}


.header__hamburger-bar:nth-of-type(2)::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: prem(12);
  height: prem(12);
  border: 3px solid $color-white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
}
.header__hamburger-bar:nth-of-type(3)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: prem(12);
  height: prem(12);
  border: 3px solid $color-white;
  border-radius: 50%;
  transform: translate(50%, -50%);
  background: transparent;
}

.header__hamburger.is-open .header__hamburger-bar:nth-of-type(2) {
  transform: translateY(prem(4)) rotate(45deg);
}
.header__hamburger.is-open .header__hamburger-bar:nth-of-type(3) {
  transform: translateY(prem(-4)) rotate(-45deg);
}

.header__drawer {
  position: fixed;
  inset: 0;
  z-index: 1050;
  background: $color-theme;
  transform: translateX(100%);
  transition: transform 0.35s ease;
  overflow-y: auto;
  padding: prem(80) 0;
}

.header__drawer.is-open {
  transform: translateX(0);
}

.header__drawer-nav {
  width: min(1100px, 100%);
  margin: 0 auto;
  padding: 0 $padding-sp;
  @include mq("md") {
    padding: 0 $padding-pc;
  }
}

.header__drawer-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: prem(18);
  @include mq("md") {
    grid-template-columns: repeat(3, 1fr);
    gap: prem(40) prem(60);
  }
}

.header__drawer-item a {
  display: inline-block;
  padding: prem(6) 0;
  color: rgba($color-white, 0.9);
  font-size: prem(14);
  letter-spacing: 0.08em;
  text-decoration: none;



}
