@use 'foundation'as *;

.main-border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 1px solid $color-theme;
}
.main-border::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    border: 1px solid $color-theme;
    border-radius: 100%;
    background-color: $color-white;
}
.main-border::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    border: 1px solid $color-theme;
    border-radius: 100%;
    background-color: $color-white;
}


