@use 'foundation'as *;

.top-images {
    padding-top: prem(23);
    padding-bottom: prem(100);

    @include mq("md") {
        padding-top: prem(210);
        padding-bottom: prem(225);
    }
}

.top-images__img {
    width: 100%;
}

.top-images__img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.top-images__title {
    font-size: prem(14);
    font-weight: $regular;
    margin-top: prem(-58);
    padding-left: 5%;
    max-width: 50%;
    line-height: 1.6;
    letter-spacing: 0.08em;

    @include mq("md") {
        letter-spacing: 0.12em;
        max-width: 100%;
        padding-left: 17%;
        line-height: 1.72;
        font-size: prem(32);
        margin-top: prem(-200);
    }

}
