@use 'foundation'as *;

.top-images {
    padding-top: prem(83);
    padding-bottom: prem(85);
    @include mq("md"){
        padding-top: prem(210);
        padding-bottom: prem(225);
    }
}

.top-images__img {
    width: 100%;
}
.top-images__img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.top-images__title{
    font-size: prem(14);
    font-weight: $regular;
    margin-top: prem(-50);
    padding-left: 5%;
    letter-spacing: 0.12em;


    @include mq("md"){
        padding-left: 17%;

        font-size: prem(32);
        margin-top: prem(-200);
    }

}
