@use 'foundation'as *;

.mv {
    position: relative;
    overflow: hidden;

    width: 100%;
}

.mv__inner {
    height: inherit;
    min-height: inherit;
    position: relative;
}

.mv__video {
    width: 100%;
    height: auto;
    aspect-ratio: 389/341;
    position: relative;
    @include mq("md") {
        aspect-ratio: 1920/1234;
    }
}

.mv__video::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;
    background-color: rgba(#000, 0.2);
}

.mv__video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mv__title-wrap {
    position: absolute;
    z-index: 2;
    bottom: 10%;
    right: 0;
    width: fit-content;
    color: #fff;
    text-align: right;
    padding-inline: prem(20);


    @include mq(md) {
        right: 0;
        bottom: 13%;
        padding-inline: prem(65);

    }
}

.mv__main-title {
    font-size: prem(20);
    font-family: $font-family-mincho;
    font-weight: $regular;

    @include mq(md) {
        font-size: prem(50);
        letter-spacing: 0.2em;
        line-height: 1.2;
    }
}

.mv__sub-title {
    font-size: prem(12);

    @include mq(md) {
        margin-top: prem(20);
        font-size: prem(27);
        line-height: 1.2;
        letter-spacing: 0em;
    }
}

.mv__text {
    margin-top: prem(45);


}

.mv__img {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.mv__img img {
    height: inherit;
    min-height: inherit;
    object-fit: cover;
    height: auto;
}

.mv__nav-wrap {
    position: absolute;
    z-index: 2;
    left: 0;
    width: fit-content;
    height: 100%;
    color: #fff;
    padding-left: prem(10);
    padding-top: prem(18);

    padding-bottom: 9%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include mq(md) {
        padding-inline: prem(20);
        padding-top: prem(40);
        right: 0;
        top: 0;
        padding-inline: prem(65);
    }
}



.mv__nav {
    border-bottom: 1px solid $color-white;
}

.mv__nav:last-of-type {
    padding-top: prem(20);
}

.mv__nav-logo {
    display: block;

}

.mv__nav-title {
    color: $color-white;
    font-size: prem(25);
    font-weight: $regular;
    letter-spacing: 0.2em;
    padding: prem(10) 0;
    line-height: 1.4;
    border-bottom: 1px solid $color-white;
    padding-bottom: prem(20);
}

.mv__nav-logo img {
    max-width: prem(46);
    aspect-ratio: 46 / 136;
    height: auto;
    object-fit: cover;

    @include mq("md") {
        max-width: prem(180);
        aspect-ratio: 180/188;
    }
}

.mv__nav-list {
    display: flex;
    flex-direction: column;
    gap: prem(14);
}

.mv__nav-item-link {
    display: block;
    color: $color-white;
    font-size: prem(19);
    position: relative;
    padding-left: prem(28);
}

.mv__nav-item:last-child {
    margin-bottom: prem(20);
}

.mv__nav-item-link::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: prem(12);
    height: prem(12);
    border-radius: 100%;
    border: 3px solid $color-white;
}

.mv__nav-btn {
    display: flex;
    background: $color-theme;
    border-radius: 10px;
    border: 1px solid $color-white;
    margin-top: prem(27);
}

.mv__nav-btn-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: prem(10) prem(20);
    gap: prem(10);
    font-size: prem(17);
}

.mv__nav-btn-link span {
    max-width: prem(36);
}

.mv__modal {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: prem(141);
    height: prem(141);
    transition: 0.3s;
}

.mv__modal:hover {
    cursor: pointer;
    scale: 1.05;
}

.mv__modal-icon img {
    aspect-ratio: 1/1;
    height: auto;
    object-fit: contain;
}

// モーダル
.movie-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0;
    transition: opacity 0.3s ease;

    &.is-open {
        display: block;
        opacity: 1;
    }
}

.movie-modal__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

.movie-modal__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: prem(1000);
    z-index: 10000;
}

.movie-modal__close {
    position: absolute;
    top: prem(-50);
    right: 0;
    width: prem(40);
    height: prem(40);
    background: transparent;
    border: 1px solid #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before,
    &::after {
        content: '';
        position: absolute;
        width: 60%;
        height: 1px;
        background: #fff;
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }

    &:hover {
        opacity: 0.7;
    }
}

.movie-modal__video-wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 16/9;
    background: #000;
    margin-bottom: prem(20);

    video {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.movie-modal__thumbnails {
    display: flex;
    gap: prem(20);
    justify-content: center;
    list-style: none;
    padding: 0;
}

.movie-modal__thumbnail {
    width: calc(50% - prem(10));
    max-width: prem(300);
    aspect-ratio: 16/9;
    position: relative;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s;
    border: 2px solid transparent;

    &.is-active {
        opacity: 1;
        border-color: #fff;
    }

    &:hover {
        opacity: 1;
    }

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
    }
}

.movie-modal__thumbnail-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    pointer-events: none;
    z-index: 2;
}

.movie-modal__thumbnail-title {
    font-size: prem(14);
    margin-bottom: prem(10);
    font-weight: bold;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
}

.movie-modal__thumbnail-play {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: prem(10) 0 prem(10) prem(16);
    border-color: transparent transparent transparent #ffffff;
}
