@use 'foundation' as *;

.post-card__img {
  width: 100%;
}
.post-card__title{
  font-size: prem(15);
  line-height: 1.6;
  letter-spacing: 0.1em;
  @include mq("md"){
    font-size: prem(26);

  }
}
.post-card__img img {
  aspect-ratio: 446 / 283;
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.post-card__body {
  position: relative;
}
.post-card__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: prem(8) 0;
}

.post-card__category li {
  padding: prem(5);
  color: $color-theme;
  border: 1px solid $color-theme;
}

.post-card__new {
  position: absolute;
  top:0;
  left: 0;
  background-color: $color-white;
  color: $color-theme;
  padding: prem(5) prem(10);
  border: 1px solid $color-theme;
}


