@use 'foundation' as *;

.post-card__img {
  width: 100%;
  aspect-ratio: 400 / 300;
}

.post-card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-card__body {
  position: relative;
}
.post-card__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: prem(8) 0;
}

.post-card__category li {
  padding: prem(5);
  color: $color-theme;
  border: 1px solid $color-theme;
}

.post-card__new {
  position: absolute;
  top:0;
  left: 0;
  background-color: $color-white;
  color: $color-theme;
  padding: prem(5) prem(10);
  border: 1px solid $color-theme;
}


