@use 'foundation' as *;

.facility-hero {
  position: relative;
  @include mq("md") {
    min-height: 372px;
  }
  @include mq("lg") {
    min-height: 422px;
  }
  @include mq("xl") {
    min-height: 760px;
  }
}

.facility-hero__image {
  width: 100%;
  position: relative;
}

.facility-hero__image img {
  width: 100%;
  height: auto;
  display: block;
  aspect-ratio: 375/250;
  object-fit: cover;
  @include mq("md") {
    aspect-ratio: 768/372;
  }
  @include mq("lg") {
    aspect-ratio: 768/322;
  }
  @include mq("xl") {
    aspect-ratio: 1920/760;
  }
}

.facility-hero__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.facility-hero__title-wrapper {
  position: relative;
  max-width: prem(600);
  margin-inline: auto;
  background-color: $color-white;
  padding: prem(10) prem(10) prem(20) prem(10);
  border-radius: 15px;
  box-shadow: 4px 4px 10px 0 rgba($color-black, 0.15);
  overflow: hidden;
  width:70%;
  max-width:prem(500);
  margin-top: prem(200);
  border: 1px solid $color-theme;
  @include mq("md") {
    margin-top: prem(400);
    max-width: prem(633);
  }
  @include mq("lg") {
    margin-top: prem(630);
  }
  @include mq("md") {
    padding: prem(32) prem(40) prem(60) prem(40);
    margin-top: prem(689);

  }
}

.facility-hero__title-wrapper::before {
      content: '';
      position: absolute;
      background-image: url(../images/common/ribon-right.png);
      background-size: contain;
      background-repeat: no-repeat;
      width:prem(198);
      height:prem(135);
      bottom:00px;
      right: -20px;
      opacity: 0.2;
      z-index: 0;
      @include mq("md"){
        width:prem(396);
        height:prem(271);
        bottom:-10px;
        right: -40px;
      }
}
.facility-hero__title-wrapper::after {

      content:"";
      display:block;
      width:100%;
      height:8px;
      background-color: $color-theme;
      position:absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
      border-radius: 0 0 15px 15px;
      @include mq("md"){
        height:16px;
      }
}

.facility-hero__label {
  position: relative;
  font-size: prem(13);
  color: $color-theme;
  text-align: center;
  width: fit-content;
  margin-inline: auto;
  @include mq("md") {
    font-size: prem(20);
    padding-bottom: prem(12);
  }
}

.facility-hero__label .main-border {
  top: initial;
  bottom: 0;
}
.facility-hero__title {
  font-size: prem(20);
  font-family: $font-family-heisei;
  font-weight: $regular;
  color: $color-black;
  line-height: 1.5;
  text-align: center;

  @include mq("md") {
    margin-top: prem(10);
    font-size: prem(40);
  }
}


.facility-hero__slug {
  font-size: prem(14);
  color: $color-theme;
  text-align: center;
  text-transform: uppercase;
  @include mq("md") {
    font-size: prem(18);
  }
}

.facility-hero__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  z-index: 2;
  position: relative;
  margin-top: prem(10);
  gap: prem(10);
  width: 100%;

  @include mq("md") {
    max-width: 75%;
    gap: prem(20);
    flex-direction: row;
    justify-content: space-between;


  }
}

.facility-hero__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-theme;
  color: $color-white;
  font-size: prem(11);
  padding: prem(12) prem(20);
  text-align: center;
  text-decoration: none;
  width:calc(100% - 27px);
  border-radius: 15px;
  position: relative;
  transition: all 0.3s ease;

  @include mq("md") {
    font-size: prem(16);
    padding: prem(6) prem(25);
  }
}
.facility-hero__button::after {
  content: '→';
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
.facility-hero__button:hover {
  opacity: 0.8;

}
.facility-hero__button:hover::after {
  right: 15px;
}
.facility-main {
  padding-top: prem(120);
  padding-bottom: prem(50);
  @include mq("md") {
    padding-top: prem(250);
    padding-bottom: prem(100);
  }
}


.facility-main__image {
  width: 100%;
  position: relative;
  margin-bottom: prem(30);
  @include mq("md") {
    margin-bottom: prem(50);
  }
}

.facility-main__image img {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
}

.facility-main__image::after {
  content: "";
  position: absolute;
  bottom: -40%;
  right: 0%;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 61%);
z-index: 0;

}

.facility-main__content-wrapper {
  display: flex;
  flex-direction: column;
  border-top: 1px solid $color-theme;
  @include mq("md") {
    flex-direction: row;
  }
}
.facility-main__content {
  font-size: prem(14);
  line-height: 2;
  color: $color-black;
  @include mq("md") {
    font-size: prem(16);
  }
}

.facility-main__content h2 {
  font-size: prem(20);
  font-family: $font-family-heisei;
  font-weight: $regular;
  color: $color-theme;
  margin-top: prem(30);
  z-index: 2;
  position: relative;
  @include mq("md") {
    font-size: prem(28);
    margin-top: prem(50);
  }
}

.facility-main__content h2:first-child {
  margin-top: 0;
}

.facility-main__content p {
  margin-top: prem(20);
  position: relative;
  z-index: 2;
  @include mq("md") {
    margin-top: prem(30);
  }
}

.facility-main__content p:first-child {
  margin-top: 0;
}

.facility-message {
  margin-top: prem(60);
  @include mq("md") {
    margin-top: prem(100);
  }
}

.facility-message__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: prem(30);
  @include mq("md") {
    grid-template-columns: prem(300) 1fr;
    gap: prem(50);
    align-items: start;
  }
}

.facility-message__image {
  width: 100%;
  @include mq("md") {
    width: prem(300);
  }
}

.facility-message__image img {
  width: 100%;
  height: auto;
  display: block;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.facility-message__text {
  position: relative;
  padding-top: prem(20);
  @include mq("md") {
    padding-top: prem(30);
  }
}

.facility-message__main-border {
  top: 0;
}

.facility-message__text p {
  font-size: prem(14);
  line-height: 2;
  color: $color-black;
  @include mq("md") {
    font-size: prem(16);
  }
}

.facility-gallery {
  padding-top: prem(50);
  padding-bottom: prem(50);
  @include mq("md") {
    padding-top: prem(100);
    padding-bottom: prem(100);
  }
}

.facility-gallery__inner {
  margin: 5% 0 0 0;
  @include mq("md") {
    margin: 5% 0 0 0;
  }
}

.facility-gallery .splide__track {
  overflow: hidden;
}

.facility-gallery .splide__slide {
  display: block;
  width: 100%;
  position: relative;
  isolation: isolate;
}

.facility-gallery .splide__slide picture {
  height: inherit;
  height: 100%;
}

.facility-gallery .splide__slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 305/203;
  object-fit: cover;
  height: auto;
  @include mq("md") {
    aspect-ratio: 1144/768;
  }
}

.facility-gallery .splide__slide::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.65);
  opacity: 0.65;
  transition: opacity 0s linear;
  pointer-events: none;
  z-index: 1;
}

.facility-gallery .splide__slide.is-active::after {
  opacity: 0;
}

#facility-gallery .splide__arrow {
  background: none;
  width: prem(185);
  height: prem(185);
  opacity: 1;
}

#facility-gallery .splide__arrow svg {
  display: none;
}

#facility-gallery .splide__arrow--prev {
  background-image: url(../images/common/slide-arrow02.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  left: prem(10);
  width: prem(31);
  height: prem(31);
  @include mq("md") {
    width: prem(185);
    height: prem(185);
    left: prem(180);
  }
}

#facility-gallery .splide__arrow--next {
  background-image: url(../images/common/slide-arrow.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(-50%);
  right: prem(10);
  width: prem(42);
  height: prem(42);
  @include mq("md") {
    width: prem(185);
    height: prem(185);
    right: prem(180);
  }
}

.facility-access {
  padding-top: prem(50);
  padding-bottom: prem(50);
  @include mq("md") {
    padding-top: prem(100);
    padding-bottom: prem(100);
  }
}

.facility-access__header {
  margin-bottom: prem(30);
  @include mq("md") {
    margin-bottom: prem(50);
  }
}

.facility-access__label {
  margin-bottom: prem(20);
  @include mq("md") {
    margin-bottom: prem(30);
  }
}

.facility-access__title {
  font-size: prem(20);
  font-family: $font-family-heisei;
  font-weight: $regular;
  color: $color-theme;
  @include mq("md") {
    font-size: prem(28);
  }
}

.facility-access__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: prem(30);
  margin-bottom: prem(30);
  @include mq("md") {
    grid-template-columns: prem(500) 1fr;
    gap: prem(50);
    margin-bottom: prem(50);
  }
}

.facility-access__map-image {
  width: 100%;
  @include mq("md") {
    width: prem(500);
  }
}

.facility-access__map-image img {
  width: 100%;
  height: auto;
  display: block;
}

.facility-access__info {
  display: flex;
  flex-direction: column;
  gap: prem(20);
  @include mq("md") {
    gap: prem(30);
  }
}

.facility-access__address {
  font-size: prem(14);
  color: $color-black;
  line-height: 2;
  @include mq("md") {
    font-size: prem(16);
  }
}

.facility-access__tel {
  font-size: prem(14);
  color: $color-black;
  line-height: 2;
  @include mq("md") {
    font-size: prem(16);
  }
}

.facility-access__text {
  font-size: prem(14);
  color: $color-black;
  line-height: 2;
  @include mq("md") {
    font-size: prem(16);
  }
}

.facility-access__google-map {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.facility-access__google-map iframe {
  width: 100%;
  height: prem(300);
  border: none;
  display: block;
  @include mq("md") {
    height: prem(500);
  }
}

