@use 'foundation'as *;

.top-voice {
    padding-top: prem(54);
    padding-bottom: prem(92);
    border-bottom: 1px solid $color-theme;
    position: relative;
    overflow: hidden;
    @include mq("md") {
        padding-top: prem(96);
        padding-bottom: prem(236);
    }
}
.top-voice::before {
    content: '';
    position: absolute;
    width: 100%;
    height: prem(868);
    background-image: url(../images/top/image11.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.top-voice__container {
    margin-top: prem(121);
    padding-top: prem(28);


    background-color: $color-white;
    border-radius: 15px;
    border: 1px solid $color-theme;

    @include mq("md"){
        padding-top: prem(60);
        margin-top: prem(534);
        border-radius: 53px;
        width: 70%;
        max-width: prem(1269);
        margin-inline: auto;
    }
}

.top-voice__container-image {
    max-width: prem(71);
    margin-top: prem(28);
    margin-inline: auto;
    @include mq("md"){
        max-width: prem(161);
        margin-top: prem(45);

    }

}
.top-voice__container-image img{
    aspect-ratio: 79 / 54;
    height: auto;
    object-fit: cover;
    @include mq("md"){
        aspect-ratio: 161 / 110;
    }
}

.top-voice__container-title-wrapper {
    max-width: prem(798);
    margin-inline: auto;
    @include mq("md"){
        margin-top: prem(46);

    }
}

.top-voice__container-title {
    position: relative;
    font-size: prem(20);
    line-height: 1.6;
    letter-spacing: 0.15em;
    font-weight: $regular;
    text-align: center;
    color: $color-theme;
    padding-bottom: prem(23);


    @include mq("md"){
        padding-bottom: prem(26);

        font-size: prem(32);
        line-height: 1.72;
        letter-spacing: 0.1em;
    }

}
.top-voice__container-title .main-border{
    top: 100%;
    bottom: 0;
    width: 52%;
    left:50%;
    transform: translateX(-50%);
    margin-inline: auto;
    @include mq("md"){
        left: 0;
        transform: translateX(0);
        width: 100%;
    }
}


.top-voice__container-title-text {
    color: $color-theme;
    font-size: prem(17);
    line-height: 1.65;
    letter-spacing: 0.15em;
    font-weight: $regular;
    text-align: center;
    max-width: 90%;
    margin-inline: auto;
    margin-top: prem(26);
    @include mq("md"){
        margin-top: prem(32);

        font-size: prem(20);
        line-height: 1.72;
        letter-spacing: 0.1em;
    }



}

.top-voice__container-description {
    max-width: 90%;
    margin-inline: auto;
    font-size: prem(15);
    line-height: 2;
    letter-spacing: 0.08em;
    margin-top: prem(36);
    @include mq("md"){
        max-width: 83%;
        margin-top: prem(82);
        font-size: prem(17);
        line-height: calc(45 / 17);

    }
}
.top-voice__list {
    max-width:90%;
    margin-inline: auto;
    margin-top: prem(80);
    @include mq("md"){
        margin-top: prem(82);
    }
}

.top-voice__item {
display: grid;
grid-template-columns: 1fr;
gap: prem(27);
@include mq("md"){
    grid-template-columns: 0.4fr 1fr;
    gap: prem(44);
    padding-bottom: prem(40);
    border-bottom: 1px solid $color-theme;

}
}
.top-voice__item:not(:first-child){
    padding-top: prem(40);

}

.top-voice__img {

}

.top-voice__content {
    display: flex;
    flex-direction: column;
}

.top-voice__title {
    font-size: prem(17);
    line-height: 1.65;
    letter-spacing: 0.15em;
    font-weight: $regular;
    color: $color-theme;

    @include mq("md"){
        font-size: prem(20);
    }


}


.top-voice__text {
font-size: prem(14);
line-height: 1.71;
letter-spacing: 0.1em;
font-weight: $regular;
margin-top: prem(10);

@include mq("md"){
    font-size: prem(17);
    line-height: 1.67;
}

}

.top-voice__meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    @include mq("md"){
        gap: prem(20);
    }

}

.top-voice__info {

}

.top-voice__address {

}

.top-voice__name {

}

.top-voice__hall {

}

.top-voice__plan {

}

.top-voice__link {
    position: relative;
    color: $color-theme;
    border-bottom: 1px solid $color-theme;
    width: prem(148);
    text-align: center;
    font-family: noto sans jp;
}
.top-voice__link::after {
    content: "";
    position: absolute;
    top: 50%;
    right: prem(0);
    width: prem(8);
    height: prem(8);
    border-top: prem(1) solid #000;
    border-right: prem(1) solid #000;
    transform: translateY(-50%) rotate(45deg);
    transition: .3s;
    color: $color-black;
}
.top-voice__link:hover::after {
    @include mq("md"){
        right: prem(15);
    }
}
.top-voice__btn{
    text-align: center;
    margin-top: prem(61);

    @include mq("md"){
        margin-top: prem(182);
    }

}

