@use 'foundation' as *;
.top-gallery {
  margin-top: prem(186);

}
.top-gallery__inner {
  margin: 5% 2% 0 2%;
  @include mq("md"){
    margin: 5% 0 0 0;
  }
}

.top-gallery .splide__track {
  overflow: hidden;
}

.top-gallery .splide__slide {
  display: block;
  width: 100%;
  position: relative;
  isolation: isolate;
}

.top-gallery .splide__slide picture {
  height: inherit;
  height: 100%;
}

.top-gallery .splide__slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 305/203;
  object-fit: cover;
  height: auto;
  @include mq("md"){
    aspect-ratio: 1144/768;
  }
}

.top-gallery .splide__slide::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.65);
  opacity: 0.65; // 非アクティブ時に白フィルター
  transition: opacity 0s linear; // アクティブ時に即座に消す
  pointer-events: none;
  z-index: 1;
}

.top-gallery .splide__slide.is-active::after {
  opacity: 0; // アクティブはフィルター無し
}

.top-gallery .swiper-slide {
  display: block;
  width: 100%;
  aspect-ratio: 600 / 300;
}

.top-gallery .swiper-slide picture {
  height: inherit;
  height: 100%;
}

.top-gallery .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top-gallery .slick-track {
  display: block;
  width: 100%;
}

.top-gallery .slick-slide {
  display: block;
  width: 100%;
  margin: 0 5px;
}

.top-gallery .slick-slide picture {
  height: inherit;
  height: 100%;
}

.top-gallery .slick-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// 矢印スタイル（arrow-b.pngを使用）
#gallery .splide__arrow {
  background: none;
  width: prem(185);
  height: prem(185);
  opacity: 1;
  transition: opacity 0.3s;
}

#gallery .splide__arrow:hover {
  opacity: 0.8;
}

#gallery .splide__arrow svg {
  display: none;
}

#gallery .splide__arrow--prev {
  background-image: url(../images/common/slide-arrow02.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  left: prem(10);
  width: prem(31);
  height: prem(31);
  box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.3499999940395355);

  @include mq("md") {
    width: prem(185);
    height: prem(185);
    left: prem(180);
  }
}

#gallery .splide__arrow--next {
  background-image: url(../images/common/slide-arrow.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(-50%);
  right: prem(10);
  width: prem(31);
  height: prem(31);
  box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.3499999940395355);

  @include mq("md") {
    width: prem(185);
    height: prem(185);
    right: prem(180);
  }
}


