@use 'foundation' as *;

.top-works {
  padding-bottom: prem(50);
}
.top-works__inner {
  margin: 5% 5% 0 5%;
}

.top-works .splide {

}

.top-works .splide__slide {
  display: block;
  width: 100%;
}

.top-works .splide__slide a {
  display: block;
  aspect-ratio: 600 / 400;
}

.top-works .splide__slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top-works .splide__pagination {
  bottom: -2em;
}

.top-works .splide__pagination__page.is-active {
  background-color: blue;
}

// swiper逕ｨ
.top-works .swiper {
  padding-bottom: 20px;
}

.top-works .swiper-slide {
  display: block;
  width: 100%;
  aspect-ratio: 600 / 300;
}

.top-works .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top-works .swiper-pagination {
  bottom: 0;
}

.top-works .swiper-button-prev,
.top-works .swiper-button-next {
  text-rendering: initial;
}

//縲slick逕ｨ
.top-works .slick-track {
  display: block;
  width: 100%;
}

.top-works .slick-slide {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 5px;
}

.top-works .slick-slide img {
  display: block;
  width: 100%;
  height: 100%;
  aspect-ratio: 600 / 300;
  object-fit: cover;
}
.top-works .slick-next,
.top-works .slick-prev {
  background: gray;
}


