@use "sass:math";

// ブレイクポイントの設定
// ＊＊＊＊＊SP・PCファーストについて、この設定を変更します＊＊＊＊＊
$break-flg: 0 !default; // 0:SPファースト、1:PCファースト

$breakpoints: null;
@if $break-flg == 0 {
  $breakpoints: (
    "sm": "screen and (min-width: 400px)",
    "md": "screen and (min-width: 768px)",
    "lg": "screen and (min-width: 1000px)",
    "xl": "screen and (min-width: 1400px)"
  );
} @else {
  $breakpoints: (
    "sm": "screen and (max-width: 399px)",
    "md": "screen and (max-width: 767px)",
    "lg": "screen and (max-width: 999px)",
    "xl": "screen and (max-width: 1399px)"
  );
}

// inner
$inner: 1870px;

// 余白
$padding-pc: 25px; // PC用余白設定
$padding-sp: 25px; // スマホ用余白設定

// フォント
$font-family-base: 'Noto Sans JP', sans-serif; // ベースフォント設定
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$font-family-mincho: 'Sawarabi Mincho', sans-serif;
$font-family-heisei: 'DFPHSMincho', sans-serif;
// ベースフォント
$base-font-size: 15px;

// Color
$color-black:#000;
$color-theme: #957B80;
$color-theme-right: #D1C2C5;
$color-white: #fff;
$main-gradient:linear-gradient(180deg, #957B80 52.88%, #B59F94 100%);



