@use 'foundation'as *;
.top-philosophy {
    padding-top: prem(89);
    padding-bottom: prem(96);
    position: relative;
    overflow: hidden;
    @include mq("md"){
        padding-top: prem(215);
        padding-bottom: prem(261);
    }
}
.top-philosophy::before{
    content: '';
    position: absolute;
    background-image: url(../images/common/logo-v.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: prem(92);
    height: prem(335);
    bottom: 60%;
    right: -2%;
    z-index: 1;
    @include mq("md"){
        width: prem(228);
        height: prem(830);
        bottom: 9%;
        right: -2%;
        z-index: 1;
    }
}
.top-philosophy .l-inner {
    @include mq("md"){
        max-width: calc((1296 / 1810) * 100%);
        margin-inline: auto;
    }
}


.top-philosophy__container {
    display: grid;
    grid-template-areas:
    "title"
    "text"
    "image"
    "logo";
    @include mq("md"){
        grid-template-areas:
        "title image"
        "text image"
        "logo image";
        grid-template-columns: 0.7fr 1fr;
    }

}

.top-philosophy__container-title {
    grid-area: title;
    font-size: prem(20);
    line-height:1.6;
    letter-spacing: 0.15em;
    font-weight: $regular;
    margin-top: prem(15);

    @include mq("md"){
        margin-top: prem(24);
        font-size: prem(32);
        line-height: 1.72;
        letter-spacing: 0.1em;

    }
}
.top-philosophy__container-text {
    grid-area: text;
    margin-top: prem(24);
    @include mq("md"){
        margin-top: prem(31);

    }

}
.top-philosophy__container-logo{
    @include mq("md"){
        padding-left: 20%;
    }
}

.top-philosophy__logo {
    grid-area: logo;
    margin-top: prem(58);
    @include mq("md"){
        margin-top: prem(98);

    }

}
.top-philosophy__container-logo-img{
    margin-top: prem(27);
    max-width: 100%;
    @include mq("md"){
        margin-top: prem(93);
        max-width: prem(280);
    }
}
.top-philosophy__container-logo-img img{
    aspect-ratio: 280 / 288;
    height: auto;
    object-fit: cover;
    margin-inline: auto;
}

.top-philosophy__container-image {
    grid-area: image;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.top-philosophy__container-image img{
    aspect-ratio: 764 / 644;
    height: auto;
    object-fit: cover;
}


